* {
  box-sizing: border-box;
}

body {
  background-color: #111;
}

.Close-button {
  border: 1px solid darkgray;
  background-color: #222;
  color: white;
  padding: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-left: 1em;
  background-color: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  box-shadow: 4px 8px 1em black;
}

.App-header a {
  margin-left: 2em;
}

.App-main {
  color:white;
}

.App-link {
  color: #61dafb;
}

.Search {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  width: 100%;
}

.Search input {
  font-size: 1.5em;
  border-radius: 0.5em;
  padding: 0.25em;
  width: 50%;
}

@media  screen and (max-width: 450px) {
  .Search input {
    width: 75%;
  }
  
}

.Vinyl-card-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.Vinyl-card {
  overflow: hidden;
  box-shadow: 4px 8px 1em black;
  border-radius: 1em;
  width: 15%;
  min-width: 325px;
  margin: 1em;
  cursor: pointer;
  position: relative;
  object-fit: contain;
}

.Vinyl-card img {
  width: 100%;
  pointer-events: none;
}

.Vinyl-info {
  background-color: rgba(0,0,0,0.5);
  display:none;
  width:100%;
  height:100%;
  padding: 1em;
  pointer-events: none;
}

.Vinyl-card:hover > .Vinyl-info {
  display:inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.Vinyl-modal-bg {
  position:fixed;
  top: 0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 50;
}

.Vinyl-modal-window {
  position: fixed;
  top: 12%;
  border:1px solid #555;
  border-radius: 1em;
  box-shadow: 12px 12px 5em black;
  padding: 1em;
  left: 10%;
  width:75%;
  height:65%;
  background-color: black;
  z-index: 100;
  overflow-y: scroll;
}

.Vinyl-modal-window img {
  float:right;
  max-width: 600px;
  width:100%;
}

ul.Admin-vinyl-list {

}

ul.Admin-vinyl-list li {
  display:flex;
  border:1px solid darkgray;
}

ul.Admin-vinyl-list li img {
  width: 128px;
}

a {
  color:white;
}

a:visited {
  color:gray;
}

img {
  width: 100%;
}

a.go-back-link {
  display:inline-block;
  padding: 1em;
}